# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore environment variables
.env

# Ignore build directories
build/
dist/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace
