doctype html 
html
  head
    title Shubham Dance Academy 
    block scripts
    block style 
        
        
  body
    nav#navbar.mynav 
      div#logo 
        img(src="../static/logo copy.jpg", alt="img not found")
        h3 SDA 
      ul 
        li #[a(href="/") home  ] 
        li #[a(href="/")  about] 
        li #[a(href="/") services] 
        li #[a(href="/") notifications] 
        li #[a(href="/contact") contact us] 
    block content
    footer#footer
      | Copyright © Shubham Dance Academy.com | All rights reserved 


