html
  head
    title
    style 
        include ../static/style.css

    script 
      include ../static/index.js 
  body
   
   

    
    nav#navbar.mynav 
      div#logo 
        img(src="../static/logo copy.jpg", alt="img not found")
        h3 SDA 
      ul 
        li #[a(href="/") home  ] 
        li #[a(href="/")  about] 
        li #[a(href="/") services] 
        li #[a(href="/") notifications] 

    section#introsection 
     h3 Welcome to Our dance Academy! 
     h4 Eat sleep dance !
      //- img(src="../static/dancing_couples.jpg", alt="image not found")

    section#missionsection 
      h2 our mission 
      div.cards
        |Lets dance!
        div.card-box 
          img(src="../static/1.png.jpg", alt="img not found")
        
        div.card-content 
          | Welcome Dance enthusiasts! Dance is an ultimate art , It is fun , enjoy and excercise also. Join us for this Amazing dance practice sessions!
      div.cards
        | All dance enthusiasts collect here 
        div.card-box 
          img(src="../static/2.jpg", alt="img not found")
        div.card-content 
          | No matter you are a pro in dance or just like to bust a move! We are here to make you a dancer with fun memories and amazing people 
    
      div.cards
        | Lets rock the stage!
        div.card-box 
          img(src="../static/three.jpg", alt="img not found")
        div.card-content 
          | If you want to rock on stage with your performance whether it is a family function or a college fest! join us

    section#sponsorsection 
      h2 Our sponsors
      img(src="../static/fb.png", alt="sponsor logo not found" class="spimages")
      img(src="../static/insta.png", alt="sponsor logo not found" class="spimages")
      img(src="../static/apple.png", alt="sponsor logo not found" class="spimages")
      img(src="../static/microsoft.png", alt="sponsor logo not found" class="spimages")

    footer#footer
      | Copyright © Shubham Dance Academy.com | All rights reserved 


    script 
        include ../static/index.js 

        
        